.container3 {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #fefefe, #fefefe);
}

.container3 form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
   
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 3 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}


form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .gender {
    color: #2e2e2e;
}

form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    
    justify-content: space-between;
}

.gender-details .category label{
    display: flex;
    align-items: center;
}

.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
    border-color: #2e2e2e;
    background: #9b59b6;
}

form input[type="radio"]{
    display: none;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    color: #ffffff;
    background: rgba(75, 205, 238, 0.514);
}

form .button input:hover{
    background: rgba(5, 121, 255, 0.795);
    cursor: pointer;
}

@media (max-width: 584px){
    .container3{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    form .gender-details .category{
        width: 100%;
    }

    .container3 form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar{
        width: 100%;
    }
}

#default-select {
    text-decoration: none;
}
