<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/47718f2e-2a99-44ca-b8e8-dfa3ec0cb170/resourcegroups/team8/providers/Microsoft.Web/sites/Team8WebAPI20231003031146</ResourceId>
    <ResourceGroup>team8</ResourceGroup>
    <ApiResourceId>/subscriptions/47718f2e-2a99-44ca-b8e8-dfa3ec0cb170/resourceGroups/team8/providers/Microsoft.ApiManagement/service/Team8WebAPIapi/apis/Team8WebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://team8webapi20231003031146.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2580d869-b1ee-4151-8a1a-7a732159610c</ProjectGuid>
    <MSDeployServiceURL>team8webapi20231003031146.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Team8WebAPI20231003031146</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Team8WebAPI20231003031146</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>